/* ============= RESET STYLES ============= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ============= END RESET STYLES ============= */

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*--third-font: "Oleo Script", cursive;*/
  --header-color: #212121;
  --content-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --silver-backgr: #f5f4fa;
  --dark-backgr: #2f303a;
  --btm-hover: #188ce8;
  --header-line: #ececec;
  --work-card-border: #eeeeee;
  --padding-value: 94px;
}

body {
  font-family: var(--main-font);
  /*background: #e5e5e5;*/
  color: var(--content-color);
}

header {
  background: var(--white-color);
  border-bottom: 1px solid var(--header-line);
}

/*  Это патерн для крытия логических заголовков */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============= COMPONENTS ============= */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */
.header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  margin-right: 93px;
}

/* НЕ ЗНАЮ НУЖНЫ ЛИ ЭТИ ЭФФЕКТЫ НА ЛОГОТИПЕ, НО НА ВСЯКИЙ СЛУЧАЙ СДЕЛАЛ. ПРИМЕНЯЕТСЯ И В ШАПКЕ И В ФУТЕРЕ*/
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-studio-header {
  color: var(--header-color);
}

.logo-studio-footer {
  color: var(--white-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-links:hover,
.navigation-links:focus {
  color: var(--accent-color);
}

.navigation-links > .current {
  color: var(--accent-color);
  font-size: 66;
}

.header-contacts {
  margin-left: auto;
}

.header .header-contacts {
  display: flex;
  align-items: center;
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-links:hover,
.contact-links:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* ============= END HEADER ============= */

.hero-backgr {
  /*  -------------------------- MY CODE ------------------------ */
  /*background-image: url("https://mdn.mozillademos.org/files/7693/catfront.png"); /*  My code*/
  background-image: url("https://cdn.pixabay.com/photo/2020/10/07/10/51/mountains-5634817_1280.jpg"); /*  My code*/

  /*background-image: url("https://image.flaticon.com/icons/svg/2909/2909923.svg"),
      url("https://image.flaticon.com/icons/svg/2847/2847383.svg"),
      url("https://image.flaticon.com/icons/svg/2909/2909673.svg"),
      url("https://s.tcdn.co/e3a/876/e3a87689-707f-3495-b94a-8ee96e2538e5/39.png"),
      url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
    */

  background-color: tomato; /*  My code*/

  background-repeat: no-repeat; /*  My code*/
  /* background-repeat: repeat; /*  My code*/
  /* background-repeat: repeat-x; /*  My code*/
  /* background-repeat: repeat-y; /*  My code*/ /* Поставит фоновое изображение по центру */

  /*background-position: 50% 50%; /*  My code*/
  /* Позиционирование по центру */
  background-position: center; /*  My code*/

  /* Поставит фоновое изображение 100px от левого края и 200px от верха */
  /* background-position: 100px 200px; /*  My code*/

  /* Поставит фоновое изображение в нижний праый угол */
  /* background-position: right bottom; /*  My code*/

  /* Поставит фоновое изображение в верхний левый угол */
  /* background-position: left top; /*  My code*/

  /* Чтобы не привязываться к размерам элемента и не задавать позицию фона жёстко, можно использовать синтаксис позиции со смещением.*/
  /* Например, если необходимо поставить фон в нижний правый угол элемента произвольных размеров так, чтобы фон отставал от границ на 30px справа и 20px снизу. */
  /* background-position: right 30px bottom 20px; /*  My code*/

  /* Исходные размеры изображения, значение по умолчанию */
  /*background-size: auto auto; /*  My code*/

  /* Ширина 200px, высота будет пропорциональна */
  /*background-size: 200px; /*  My code*/

  /* Ширина 200px, высота 300px */
  /*background-size: 200px 300px; /*  My code*/

  /* Значением также могут быть два зарезервированных слова - contain и cover.*/
  /* Они стремятся вместить в контейнер фоновое изображение по максимуму, только одно */
  /* за счёт обрезания лишнего, а другое за счёт появления пустого пространства в контейнере. */
  /*background-size: contain; /*  My code*/
  background-size: cover; /*  My code*/
  /*background-size: auto; /*  My code*/

  /* По умолчанию фоновое изображение прокручивается вместе с содержимым элемента. С помощью */
  /* свойства background-attachment можно зафиксировать фон на месте и запретить прокручиваться при скроле.*/
  /* background-attachment: scroll| fixed | inherit  /*  My code*/
  background-attachment: fixed; /*  My code*/

  /* Свойство background - Составное свойство для одновременного задания значений всех рассмотренных свойств.*/
  /* background: background-color background-image background-repeat background-position background-attachment */
  /* Если какой-то компонент не указан, будет взято его значение по умолчанию.*/

  /* Позволяет позиционировать фоновое изображение в разніх блочнх моделях */
  background-origin: content-box; /* padding-box |  border-box |  ; */

  /* Похоже на предідущее свойство , НО сдесь изображение ОБРЕЗАЕТСЯ под указанную блочную модель */
  background-clip: content-box; /* border-box;  |  padding-box  ; */

  

  /*  --------------------------END  MY CODE ------------------------ */

  /*background: var(--dark-backgr); */

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.order-service-btm {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin: 0 auto;
  padding: 10px 32px;
}

.order-service-btm:hover,
.order-service-btm:focus {
  color: var(--white-color);
  background: var(--btm-hover);
}

/* =============  STUDIO. ADVANTAGES SECTION  ============= */

.advantages-list {
  display: flex;
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
  margin-left: -30px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ============= END  STUDIO. ADVANTAGES SECTION ============= */

/* =============  STUDIO. SECTION: WHAT WE DO and OUR TEAM ============= */

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);

  margin-bottom: 50px;
}

/* -------------------  MY CODE ------------------- */
.secondary-title::before {
  content: "Это текст в ::before";
  font-size: 40px;
  color: orange;
}

.secondary-title::after {
  content: "Это текст в ::after";
  font-size: 30px;
  color: teal;
}
/* Псевдокласс :hover
/* Для того чтобы изменить стили псевдоэлемента при событии на родительском элементе, */
/* например ховер, необходимо использовать следующий селектор.   */

/* Применить стили к псевдоэлементу .box::before при ховере по элементу .box */
.secondary-title:hover::before {
  color: green;
}

/* Применить стили к псевдоэлементу .box::after при ховере по элементу .box */
.secondary-title:hover::after {
  color: tomato;
}

/* -------------------  END MY CODE ------------------- */

.what-we-do-list {
  display: flex;
  padding-bottom: var(--padding-value);
  margin-left: -30px;
}

.what-we-do-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  /* -------------------- MY CODE  --------------- */
  /* Тень элемента */
  /* Свойство box-shadow задаёт элементу одну или более теней. По умолчанию размер тени */
  /* совпадает с размером элемента, а её цвет такой же как цвет его текста.*/
  /* box-shadow: <x-offset> <y-offset> <blur> <spread> <color> */
  /* */
  box-shadow: 10px 10px 8px 12px rgba(0, 0, 0, 0.3); /*My code*/

  /* Внутренняя тень */
  /* Если внешняя тень визуально приподнимает элемент, то внутренняя тень позвоялет добавить */
  /* глубины, вдавливая элемент в интерфейс. Синтаксис объявления внутренней тени аналогичен обычной, */
  /* но первым значением необходимо указать inset. */

  /* box-shadow: inset <x-offset> <y-offset> <blur> <spread> <color> */

  box-shadow: inset 0 0 20px 25px rgba(238, 14, 14, 0.3); /*My code*/
  
  /*  Многослойная тень */
  /* На один элемент можно добавить несколько теней, указав их через запятую.*/
  /* box-shadow: <x-offset> <y-offset> <blur> <spread> <color>,
            <x-offset> <y-offset> <blur> <spread> <color>,
            <x-offset> <y-offset> <blur> <spread> <color>,
            ...  */

            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(12, 219, 40, 0.795);

}



  /* --------------------END MY CODE  --------------- */
}

.team-section-bkr {
  background: var(--silver-backgr);
  /* -------------------- MY CODE  --------------- */
  /*Линейный градиент */
  /*linear-gradient(<направление>, <цвет-1>, <цвет-2>, <цвет-3>, ...) */
  /* Направление градиента может быть задано ключевыми словами to top, to right, */
  /*to bottom, to left и их комбинациями. Если направление не указано, используется */
  /*значение по умолчанию - сверху-вниз (to bottom). В случае когда направление задано парой */
  /*ключевых слов, например to top left, начальная точка градиента будет расположена в противоположном углу - правом нижнем. */
  /* Направление также можно задать углом наклона в градусах - единица deg. Значение 0deg аналогично to top*/

  /* */

  background-image: linear-gradient(to top, red, blue); /*My code*/

  /* Колорстоп (color-stop) . Если колорстопы заданы в пикселях и общая сумма меньше чем ширина или высота элемента, то получится повторяющийся градиент.*/
  background-image: linear-gradient(
    /*My code*/ to right,
    /*My code*/ #f44336 15%,
    /*My code*/ #09792b 40%,
    /*My code*/ #00b9ff 65%,
    /*My code*/ #ffb800 /*My code*/
  ); /*My code*/

  /* Сплошной градиент */
  /* Градиент это плавный переход между цветами, но если двум соседним из них задать*/
  /* одинаковые колорстопы, получим сплошные цвета и резкий переход между ними. Это можно */
  /* использовать для создания «полосатого» фона. ФЛАГ стран*/

  background-image: linear-gradient(
    /*My code*/ to right,
    /*My code*/ #c64f4f 15%,
    /*My code*/ #09792b 15%,
    /*My code*/ #09792b 40%,
    /*My code*/ #00b9ff 40%,
    /*My code*/ #00b9ff 65%,
    /*My code*/ #ffb800 65% /*My code*/
  ); /*My code*/

  /*Радиальный градиент */
  /*Радиальный градиент отличается от линейного тем, что цвета выходят из центра градиента и равномерно распостраняются наружу, принимая форму элипса.

radial-gradient(<тип> <центр>, <цвет-1>, <цвет-2>, <цвет-3>, ...);
Форма градиента определяется ключевыми словами circle или ellipse (значение по умолчанию), поэтому */
  /*  элемент не квадрат, по умолчанию градиент примет форму элипса. Позиция центра задаётся ключевыми словами */
  /* center (значение по умолчанию), top, bottom, right, и left, с добавлением приставки at. */
  /* */

  background-image: radial-gradient(
    /*My code*/ circle at bottom right,
    /*My code*/ #f44336 15%,
    /*My code*/ #09792b 15%,
    /*My code*/ #09792b 40%,
    /*My code*/ #00b9ff 40%,
    /*My code*/ #00b9ff 65%,
    /*My code*/ #ffb800 65% /*My code*/
  ); /*My code*/

  /* Повторяющийся градиент#
Повторяющийся градиент может быть линейным или радиальным и позволяет сделать интересные декоративные эффекты.
/*  Чаще всего повторяющийся градиент делают сплошным. */

  background-image: repeating-linear-gradient(
    to left,
    blue,
    blue 60px,
    yellow 60px,
    yellow 120px /* Опеределяет размер градиента */
  );

  /* */

  /* -------------------- END MY CODE  --------------- */
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list > li {
  background: var(--white-color);
}

.team-item-wrapper {
  /*flex-basis: calc(100% / 4 - 30px);*/
  margin-left: 30px;

  /* ---------------------  MY CODE -------------------- */

  /* Свойство object-fit  */
  /* Определяет каким образом содержимое <img> (или <video>) будет вмещаться в */
  /* контейнер, когда их размеры или пропорции не совпадают. Свойство object-fit обрезает, */
  /* растягивает или масштабирует контентное изображение. Это похоже на background-size, но */
  /*для КОНТЕЙНЕРНЫХ изображений. */
  /* object-fit: fill | contain | cover | scale-down | none  + НУЖНО ВЫПОЛНИТЬ 2 (два) УСЛОВИЯ (описанов конспекте).  /*My code*/

  /*height: 400px; /*My code*/
  /*width: 300px; /*My code*/

  /* Свойство object-position */
  /* Дополняет свойство object-fit позволяя задать положение изображения в контейнере по */
  /* осям X и Y. Это похоже на background-position, но для контентных изображений.*/
  /* object-position: position | initial | inherit */
  /* Значением свойства могут быть зарезервированные слова, абсолютные или относительные */
  /* единиицы измерения. По умолчанию значение 50% 50%, то есть вертикально и горизонтально по центру. */

  /* ---------------------  END MY CODE ----------------  */
}

/* ---------------------   MY CODE ----------------  */
/*.team-item-wrapper > img { /*My code*/
/* display: block; /*My code*/
/*height: 100%; /*My code*/
/*width: 100%; /*My code*/

/*object-fit: scale-down; /*My code*/
/* object-position: 10% 90%; /*My code*/
/*object-position: right top; /*My code*/
/*} /*My code*/

/* ---------------------  END MY CODE ----------------  */

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;

  /* My code */
  box-shadow: inset 0 0 20px 25px rgba(238, 14, 14, 0.3); /* My code*/
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

/* ---------------------   MY CODE ----------------  */
/* Это пример использование превдоклассов: ::before и ::after   */
/* ВАЖНОЕ ПРАВИЛО! В правиле CSS при использовании этих псевдоклассов */
/*  свойство content: ' '   . Даже если ничего не вставляем, то нужно ставить пустую строку!*/

/* Псевдоэлемент-иконка. Пусть ::before будет виден всегда, а ::after только при ховере по ссылке. */

/* Самое важное находится в этом CSS-правиле. Изменяем тип элемента на строчно-блочный и задаём фиксированную высоту и ширину. */
/* Также не забываем указать свойство content с пустой строкой, чтобы браузер создал псевдоэлемент. */

.team-title::before, /*My code*/
.team-title::after {
  /*My code*/
  /*My code*/
  display: inline-block; /*My code*/
  content: ""; /*My code*/
  width: 24px; /*My code*/
  height: 24px; /*My code*/
}

.team-title::before {
  margin-right: 16px;
  background-image: url("https://image.flaticon.com/icons/svg/785/785116.svg"); /*My code*/
}

/* Добавляем и прячем иконку кота после текста ссылки */
.team-title::after {
  /*My code*/
  display: none; /*My code*/
  margin-left: 16px; /*My code*/
  background-image: url("https://image.flaticon.com/icons/svg/616/616430.svg"); /*My code*/
} /*My code*/

.team-title:hover {
  /*My code*/
  color: #2196f3; /*My code*/
} /*My code*/

/* Показываем иконку кота при ховере по ссылке */
.team-title:hover::after {
  /*My code*/
  display: block; /*My code*/
} /*My code*/

/* ---------------------  END MY CODE ----------------  */

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ============= END  STUDIO. SECTION: WHAT WE DO and OUR TEAM ============= */

/* ============= FOOTER ============= */
footer {
  background: var(--dark-backgr);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* ============= END FOOTER ============= */

/* ============= PORTFOLIO. SECTION OUR WORKS ============= */
.list-works-btm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-btm-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btm {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-color);
  background: var(--silver-backgr);

  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.filter-btm:hover,
.filter-btm:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

.work-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-card-list > li {
  background: var(--white-color);
}

.work-card {
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid var(--work-card-border);
}

.work-card-content {
  border: 1px solid var(--work-card-border);
  border-top: none;
  padding: 20px 24px;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);

  margin-bottom: 4px;
}

.works-description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--content-color);
}

/* ============= TND  PORTFOLIO. SECTION OUR WORKS ============= */
